
body {
    font-family: "Lato";
		text-align: center;
		color: #4d4d4d;
		width: 95%;
		margin: 0 auto;
}

h1 {
	font-family: "Lato";
	text-align: center;
	color: #640000;
	font-size: 40px;
}

h2 {
    font-family: "Lato";
		text-align: center;
		color: #4d4d4d;
		font-size: 25px;
}

h3 {
    font-family: "Lato";
		text-align: center;
		color: #767676;
		font-size: 20px;
			}
container {
	color: blue
}
